@media only screen and (min-width : 0px) and (max-width : 320px) {
  :root {
    --main-input-width: 140px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  :root {
    --main-input-width: 300px;
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
  :root {
    --main-input-width: 420px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  :root {
    --main-input-width: 720px;
  }
}

#nav-mobile-icon {
  display: none;
  background-color: transparent !important;
}

#nav-mobile-icon i {
  font-size: 30px;
  color: var(--darker2-color);
}

#nav-mobile-icon:hover, #nav-mobile-icon:active {
  background-color: transparent !important;
  /* color: transparent !important; */
}

@media screen and (max-width: 800px) {
  #nav-mobile-icon {
    display: block;
    position: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    right: 0;
    top: 0;
  }

  .nav-ul li {
    float: none;
  }

  .toggle {
    position: fixed;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    left: 0;
    top: 0;
  }

  .nav-ul li:not(:first-child) {
    display: none;
  }

  .nav-ul.responsive-menu {
    position: relative;
    border-bottom: var(--border-grey);
    margin-bottom: 60px;
  }

  .nav-ul.responsive-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-ul.responsive-menu li {
    float: none;
    display: block;
    text-align: left;
  }

  .container-center-inline > div {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input {
    width: var(--main-input-width);
    font-size: 10px;
  }
}