@media only screen and (min-width : 0px) and (max-width : 320px) {
  :root {
    --main-input-width: 140px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  :root {
    --main-input-width: 300px;
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
  :root {
    --main-input-width: 420px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  :root {
    --main-input-width: 720px;
  }
}

.nav-icon {
  background-color: transparent;
  border: var(--debug);
}

.nav-icon * {
  cursor: pointer;
  border: var(--debug);
}

#nav-mobile-button {
  display: none;
  background-color: transparent !important;
}

#nav-darkmode-input {
  display: none;
}

@media screen and (max-width: 800px) {
  #logo {
    margin-bottom: 30px;
    cursor: unset !important;
  }

  .nav-icon * {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;

    font-size: 30px;
    color: var(--darker2-color);
  }

  .dark * .nav-icon {
    color: var(--darker-color);
  }

  #nav-mobile-button {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 20px;
  }

  #nav-darkmode-button {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: -16px !important;
    margin-left: 20px;
  }

  #nav-darkmode-icon {
    margin-left: -20px;
  }

  .nav-ul li {
    float: none;
  }

  .nav-ul li:not(:first-child) {
    display: none;
  }

  .nav-ul.responsive-menu {
    position: relative;
    display: block;
    margin-bottom: 60px;
    border-bottom: 3px solid var(--lighter2-color);
  }

  .nav-ul.responsive-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-ul.responsive-menu li {
    float: none;
    display: block;
  }

  .container-center-inline > div {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input {
    width: var(--main-input-width);
    font-size: 10px;
  }

  .input-number-button {
    right: 86px;
    top: 0px;

    padding: 12px;
    margin: 2px;
  }
}