<br>

<div class="container-center-inline">
  <!-- <div>
    <div class="text">
      <label for="maxopen">Views</label>
    </div>
    <input required type="number" name="maxopen" min="1" max="100" value="1"/>
  </div> -->

  <div>
    <div class="text">
      <label for="maxopen">Views</label>
    </div>
    <div class="text input-number">
      <input required type="number" name="maxopen" min="1" max="100" value="1"/>
      <div class="input-number-button minus" aria-label="Decrease"><i class="fa-solid fa-minus"></i></div>
      &nbsp;
      <div class="input-number-button plus" aria-label="Increase"><i class="fa-solid fa-plus"></i></div>
    </div>
  </div>


  <div>
    <div class="text">
      <label for="expiration">Expiration</label>
    </div>
    <!-- expiration here is in local format (so it might brings problems on date calculation on backend, it's why there's an hidden input below) -->
    <input required type="datetime-local" id="expirationLocal" name="expirationLocal"/>

    <!-- hidden element to send expiration in UTC to backend -->
    <input type="hidden" name="expiration" id="expiration">
  </div>
</div>

<br>
<br>

<input type="submit" id="submit" value="Share !" class="button shadow-intern" />

<script>
  var defaultExpiration = new Date();
  defaultExpiration.setMinutes(defaultExpiration.getMinutes() - defaultExpiration.getTimezoneOffset());
  defaultExpiration.setHours(defaultExpiration.getHours() + 168); // +7 days

  var min = new Date();
  min.setMinutes(min.getMinutes() - min.getTimezoneOffset());
  min.setHours(min.getHours());

  var max = new Date();
  max.setMinutes(max.getMinutes() - max.getTimezoneOffset());
  max.setHours(max.getHours() + 504);

  expirationLocal = element('expirationLocal')
  expirationLocal.value = defaultExpiration.toISOString().slice(0, 16);
  expirationLocal.min = min.toISOString().slice(0, 16);
  expirationLocal.max = max.toISOString().slice(0, 16);

  expirationUTC = element('expiration');

  // Set the UTC format in hidden input 'expirationUTC' when submitting the form
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    expirationUTC.value = timeLocalToUtc(expirationLocal.value);
  });




  // Input number
  function setupHold(button, action) {
  let timeout;
  let interval;
  const start = () => {
    action(); // 1rst immediate action

    timeout = setTimeout(() => {
        interval = setInterval(action, 60); // repetition speed
      }, 300); // repetition delay
    };

    const stop = () => {
      clearTimeout(timeout);
      clearInterval(interval);
    };

    button.addEventListener('mousedown', start);
    button.addEventListener('mouseup', stop);
    button.addEventListener('mouseleave', stop);

    // Mobile
    button.addEventListener('touchstart', start);
    button.addEventListener('touchend', stop);
  }
  document.querySelectorAll('.input-number').forEach(wrapper => {
    const input = wrapper.querySelector('input');
    setupHold(wrapper.querySelector('.plus'), () => input.stepUp());
    setupHold(wrapper.querySelector('.minus'), () => input.stepDown());
  });
  button.addEventListener('keydown', e => {
    if (e.key === ' ' || e.key === 'Enter') start();
  });
  button.addEventListener('keyup', stop);


</script>
