<div class="container-nav">
  <a href="/" class="nav-item">
    <div id="logo">
      <!-- <img src="../static/default-logo.svg" id="logo-img"> -->
    </div>
  </a>

  <a href="/auth/file" class="nav-item">
    <div class="nav-link">
      File
    </div>
  </a>

  <a href="/auth/secret" class="nav-item">
    <div class="nav-link">
      Secret
    </div>
  </a>

  <a href="/auth/session" class="nav-item">
    <div class="nav-link">
      Session
    </div>
  </a>


  <div class="nav-item right">
    <div class="nav-link toggle">
      <input id="darkmode" type="checkbox" />
      <label for="darkmode" class="toggle-darkmode"></label>
    </div>
  </div>


</div>


<br>
<br>