<br>

<div class="container-center-inline">
  <div>
    <div class="text">
      <label for="maxopen">Views</label>
    </div>
    <input required type="number" name="maxopen" min="1" max="100" value="1"/>
  </div>

  <div>
    <div class="text">
      <label for="expiration">Expiration</label>
    </div>
    <!-- expiration here is in local format (so it might brings problems on date calculation on backend, it's why there's an hidden input below) -->
    <input required type="datetime-local" id="expirationLocal" name="expirationLocal"/>

    <!-- hidden element to send expiration in UTC to backend -->
    <input type="hidden" name="expiration" id="expiration">
  </div>
</div>

<br>
<br>
<br>

<input type="submit" id="submit" value="Share !" class="button" />

<script>
  var defaultExpiration = new Date();
  defaultExpiration.setMinutes(defaultExpiration.getMinutes() - defaultExpiration.getTimezoneOffset());
  defaultExpiration.setHours(defaultExpiration.getHours() + 168); // +7 days

  var min = new Date();
  min.setMinutes(min.getMinutes() - min.getTimezoneOffset());
  min.setHours(min.getHours());

  var max = new Date();
  max.setMinutes(max.getMinutes() - max.getTimezoneOffset());
  max.setHours(max.getHours() + 504);

  expirationLocal = element('expirationLocal')
  expirationLocal.value = defaultExpiration.toISOString().slice(0, 16);
  expirationLocal.min = min.toISOString().slice(0, 16);
  expirationLocal.max = max.toISOString().slice(0, 16);

  expirationUTC = element('expiration');

  // Set the UTC format in hidden input 'expirationUTC' when submitting the form
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    expirationUTC.value = timeLocalToUtc(expirationLocal.value);
  });

</script>
