<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <title>Share</title>

  <link rel="icon" type="image/x-icon" href="../static/default-logo.png" />

  <link rel="stylesheet" href="../static/css/variables.css" />
  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/navigation.css" />
  <link rel="stylesheet" href="../static/css/screens.css" />

  <link rel="stylesheet" href="../static/custom/theme.css" />

  <script type="text/javascript" src="../static/js/helper.js"></script>

  <link rel="stylesheet" href="../static/dynamic/fonts/css/fontawesome.all.min.css">
</head>

<body>
  <script>
    function getDarkmodeVariable() {
      var boolean = localStorage.getItem("darkmode") === "true";
      return boolean;
    }

    function setDarkmode(boolean) {
      document.body.classList.toggle('dark', boolean);
      localStorage.setItem('darkmode', boolean);
    }

    function setIconSun(icon) {
      icon.className = 'fa fa-sun';
    }

    function setIconMoon(icon) {
      icon.className = 'fa fa-moon';
    }

    function setDarkmodeIcon(boolean) {
      var icon = document.getElementById('nav-darkmode-icon');
      if (boolean) {
        setIconMoon(icon);
      } else {
        setIconSun(icon);
      }
    }

    // Set dark/light modes according to computer theme
    // Fallback to darkmode localStorage variable if it exists
    if (localStorage.getItem('darkmode') == null) {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        setDarkmode(true);
      }
    } else {
      setDarkmode(getDarkmodeVariable());
    }

    window.onload = function () {
      // Set custom logo or fallback on default logo
      function setLogoImage(path) {
        var logo = document.getElementById('logo')
        logoCustom = document.createElement('img');
        logoCustom.src = path
        logo.appendChild(logoCustom);
      }

      // Display default or custom logo according to darkmode
      //  - darkmode true  => custom-logo-darkmode (png -> svg) -> custom-logo (png -> svg) -> default-logo
      //  - darkmode false => custom-logo (png -> svg) -> default-logo
      function setLogo() {
        if (getDarkmodeVariable()) {
          if (checkUrl("/static/custom/logo-darkmode.png")) {
            setLogoImage("../static/custom/logo-darkmode.png");
          } else if (checkUrl("/static/custom/logo-darkmode.svg")) {
            setLogoImage("../static/custom/logo-darkmode.svg");
          } else if (checkUrl("/static/custom/logo.png")) {
            setLogoImage("../static/custom/logo.png");
          } else if (checkUrl("/static/custom/logo.svg")) {
            setLogoImage("../static/custom/logo.svg");
          } else {
            logo.classList.add("default-logo");
          }
        } else {
          if (checkUrl("/static/custom/logo.png")) {
            setLogoImage("../static/custom/logo.png");
          } else if (checkUrl("/static/custom/logo.svg")) {
            setLogoImage("../static/custom/logo.svg");
          } else {
            logo.classList.add("default-logo");
          }
        }
      }

      // Toggle darkmode checkbox according to current mode
      const darkmodeInput = document.getElementById('nav-darkmode-input');
      darkmodeInput.checked = getDarkmodeVariable(); // Toggle checkbox
      darkmodeInput.addEventListener("change", (event) => {
        setDarkmode(event.target.checked);
        setDarkmodeIcon(event.target.checked);

        // Change logo according to darkmode
        var logo = document.getElementById('logo')
        var existingLogo = logo.children[0]
        if (existingLogo) {
          existingLogo.remove();
          setLogo();
        }
      });

      // Set a color on current active page menu
      const navigation = document.getElementById('navigation');
      const navigationLinks = Array.from(navigation.querySelectorAll('a'));
      navigationLinks.forEach((link = 'a.href') => {
        if (link == document.URL) {
          link.classList.add('active');
        } 
      });

      // Display logo a first time
      setLogo();

      // Remove href from logo to avoid miss click in small screens
      removeHrefFromLogo();

      // Set darkmode icon a first time
      setDarkmodeIcon(getDarkmodeVariable())
    };


    // Remove href from logo to avoid miss click in small screens
    function removeHrefFromLogo() {
      var logo = document.getElementById("logo")
      if (window.innerWidth <= 800) {
        logo.removeAttribute("href");
      } else {
        logo.href = '/';
      }
    }
    window.onresize = (event) => {
      removeHrefFromLogo()
    }

    // Display a icon to open menu for small screens
    function smallScreenMenu() {
      var navigation = document.getElementById("navigation");
      if (navigation.className === "nav-ul") {
        navigation.classList.add("responsive-menu");
      } else {
        navigation.className = "nav-ul";
      }
    }
  </script>

  <ul id="navigation" class="nav-ul">
    <li>
      <a id="logo" href="/"></a>
    </li>
    <li>
      <a class="text" href="/password">
        <i class="fa-solid fa-key"></i>
        &nbsp; Password
      </a>
    </li>
    <li>
      <a class="text" href="/file">
        <i class="fa-solid fa-file"></i>
        &nbsp; File
      </a>
    </li>
    <li>
      <a class="text" href="/text">
        <i class="fa-solid fa-pencil"></i>
        &nbsp; Secure text
      </a>
    </li>
    <li>
      <a class="text" href="/snippet">
        <i class="fa-solid fa-code"></i>
        &nbsp; Snippet
      </a>
    </li>
    <li class="right text nav-icon">
      <label for="nav-darkmode-input" id="nav-darkmode-button">
        <i id="nav-darkmode-icon" class="fa"></i>
      </label>
      <input id="nav-darkmode-input" type="checkbox" onclick="setDarkmode()"/>
    </li>
  </ul>

  <a href="javascript:void(0);" id="nav-mobile-button" class="nav-icon" onclick="smallScreenMenu()">
    <i class="fa fa-bars"></i>
  </a>

  <div class="content">
    <div class="container">
      <!-- next is on layout.footer.html -->
