{{ template "layout.header.html" . }}
<div class="container-left text-box">
  <!-- <div class="container-left"> -->
    <div class="text">
      Share link
      <div class="text-copiable">
        <button class="button-copy" onclick="copyToClipboard('link')">
          <i class="fas fa-copy fa-lg"></i>
        </button>
        <span id="link">{{ .Url }}{{ .Link }}</span>
      </div>
    </div>

    <br>

    <div class="text">
      Password
      <div class="text-copiable">
        <button class="button-copy" onclick="copyToClipboard('password')">
          <i class="fas fa-copy fa-lg"></i>
        </button>
        <span id="password">{{ .Password }}</span>
      </div>
    </div>

    <br>
    <br>

    <div class="text">
      One click link
      <div class="text-copiable">
        <button class="button-copy" onclick="copyToClipboard('oneClickLink')">
          <i class="fas fa-copy fa-lg"></i>
        </button>
        <span id="oneClickLink">{{ .Url }}{{ .Link }}#{{ .Password }}</span>
      </div>
    </div>
  <!-- </div> -->
</div>

{{ template "layout.footer.html" . }}
