{{ template "layout.header.html" . }}
<div class="text-box">

<form action="/secret/shared" method="post">
  <input required type="hidden" name="TokenAvoidRefresh" value="{{ .TokenAvoidRefresh }}"/>

  <div required id="editor" contenteditable="true" class="textarea"></div>

  <!-- Hidden field that just copy content of the editor and pass it to the form -->
  <input required type="hidden" class="ghost" name="mySecret" id="editorInput" />

  <script src="../static/dynamic/slate.js"></script>
  <script>
    const editor = document.getElementById("editor")
    const editorInput = document.getElementById("editorInput")

    // Copy content of editor to input to be able to send it to the backend
    editor.addEventListener("blur", () => {
      editorInput.value = editor.innerHTML
    })
  </script>

  <br>

  {{ template "layout.form.share.html" . }}
</form>

</div>
{{ template "layout.footer.html" . }}