{{ template "layout.header.html" . }}
<form action="/secret/shared" method="post">
  <input required type="hidden" name="TokenAvoidRefresh" value="{{ .TokenAvoidRefresh }}"/>

  <div required id="editor" contenteditable="true" class="textarea"></div>

  <!-- Hidden field that just copy content of the editor and pass it to the form -->
  <input required type="hidden" name="mySecret" id="editorInput" />

  <script src="../static/dynamic/slate.js"></script>
  <script>
    const editor = document.getElementById("editor")
    const editorInput = document.getElementById("editorInput")

    // Copy content of editor to input to be able to send it to the backend
    editor.addEventListener("blur", () => {
      editorInput.value = editor.innerHTML
    })
  </script>

  <br>
<!-- 
  <div class="container-center-inline">
    <div class="container-left">
      <div class="text text-box">
        Paste your text here to share it securely.
        <br>
        <br>
        Secrets can be any kind of text, such as passwords, confidential information, or even code snippets.
        <br>
        <br>
        The original formatting will be preserved when sharing, and the recipient will be able to copy exactly as you sent it.
      </div>
    </div>
  </div> -->

  <br>

  {{ template "layout.form.share.html" . }}
</form>
{{ template "layout.footer.html" . }}