{{ template "layout.header.html" . }}
<h1 class="title">Session created !</h1>


<div class="text">Give this link to the person you want to receive a share.</div>

<div class="container-center-block">
    <div class="container-left">

        <div class="label">
            Session link
            <div class="text text-box">
                <button class="button-copy" onclick="copyToClipboard('link')"></button>
                <span id="link">{{ .Url }}{{ .Link }}</span>
            </div>
        </div>

    </div>
</div>


<script>
    function copyToClipboard(copyDiv) {
        let content = document.getElementById(copyDiv).innerHTML;
        navigator.clipboard.writeText(content);

        displayInfo('Copied !');
    }
</script>


{{ template "layout.footer.html" . }}