name: Build and push Docker image

on:
  release:
    types: [published]

env:
  REGISTRY: docker.io
  REPOSITORY: ${{ github.repository }}
  USERNAME: ${{ secrets.DOCKERHUB_LOG }}
  PASSWORD: ${{ secrets.DOCKERHUB_PWD }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Extract metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          tags: type=semver,pattern={{version}}

      - name: Create file _VERSION
        uses: finnp/create-file-action@2
        env:
          FILE_NAME: "_VERSION"
          FILE_DATA: ${{ steps.metadata.outputs.tags }}

      - name: Login registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_LOG }}
          password: ${{ secrets.DOCKERHUB_PWD }}
          logout: true

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.metadata.outputs.tags }}